.calendarContainer {
    width: 100%;
    max-width: 320px;
    margin: auto;
    font-family: "SN Pro", sans-serif;
    color: var(--text-dark);
    padding: 10px;
}

.calendarHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
}

.daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.dayOfWeek, .calendarDay {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 40px;
}

.empty {
    background-color: transparent;
    border: none;
}
