.SNPro {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.GREATVibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.regular {
    font-weight: 400;
}
