.container {
    width: 100%;
    height: 100dvh;

    position: relative;
    overflow: hidden;
    background-color: #acafaf;
}


.image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 25%;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes layer {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 0;
    }
}

.layer {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: #adb0af;

    animation-name: layer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

.textWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: min(60px, 10%);
    bottom: 20px;
    z-index: 2;
}

.name {
    font-size: 96px;
    line-height: 100%;
    user-select: none;
}

.small {
    font-size: 44px;
    padding-bottom: 35px;
}


@keyframes bottom {
    from {
        box-shadow: -10px -250px 10px rgba(173, 176, 175, 0.6);
    }

    to {
        box-shadow: -10px -250px 100px rgba(173, 176, 175, 0.5);
        transform: translateY(300px);
    }
}


.bottom {
    width: 110%;
    height: 250px;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform: translateY(260px);

    animation-name: bottom;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
