:root {
    --background-main: #fffaf0;
    --text-main: #807b7a;
    --text-dark: #3a3431;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: var(--background-main);
    overflow-x: hidden;
}

#root {
    width: 100%;
    max-width: 1024px;
    overflow: hidden;
    margin: 0 auto;

    border-left: 2px double var(--text-main);
    border-right: 2px double var(--text-main);
}

@media (max-width: 1024px) {
    #root {
        border-left: 0;
        border-right: 0;
    }
}

.sn-pro-regular {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
