:root {
    --background-main: #fffaf0;
    --text-main: #807b7a;
    --text-dark: #3a3431;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: var(--background-main);
    overflow-x: hidden;
    padding: 10px;
}

#root {
    width: 100%;
    max-width: 1024px;
    overflow: hidden;
    margin: 0 auto;

    border: 4px double #d4af37;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    body {
        padding: 0;
    }

    #root {
        border: 0;
        border-radius: 0;
    }
}

.sn-pro-regular {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
