.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper {
    padding: 0 20px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    max-width: 430px;
    text-align: center;
    color: var(--text-dark);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 5px;
}

.last {
    margin-bottom: 30px;
}

.link {
    color: #ffffff;
    background-color: black;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;

}

.iframeContainer iframe {
    pointer-events: none;
}

.active iframe {
    pointer-events: auto;
}
