.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    padding: 0 20px;
    max-width: 430px;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 50px;
    text-align: center;
    color: var(--text-dark);
    font-size: 32px;
    line-height: 32px;
}

.paragraph {
    text-align: center;
    color: var(--text-dark);
    font-size: 20px;
    line-height: 32px;
}

.main {
    padding: 0 20px;
    margin-bottom: 30px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 15px;
}

.colorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 5px;
}

.color {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.colorText {
    text-align: center;
    color: var(--text-dark);
    font-size: 16px;
}

.borderContainer {
    width: 100%;
    padding: 0 10px;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.border::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;

    background-color: var(--text-main);
}

.heart {
    background-color: var(--background-main);
    width: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
